.modalContainer {
  width: 100%;
  height: 100%;
  // position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  font-size: 15px;
  
  .modalCloseBtn {
    cursor: pointer;
    color: #14505c;
    width: 100px;
    height: 40px;
    margin-left: 500px;
    margin-top: 20px;

    &:hover {
      color: black;
    }
  }

  .modalContent {
    background-color: #ffffff;
    width: 650px;
    height: 800px;
    padding: 15px;
    // border-radius: 50px;

    h1 {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 0px;
      font-size: 40px;
    }

    h5 {
      text-align: center;
      margin: 5px;
      font-size: 15px;
    }
  }

  .chargeTable {
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    text-align: center;

    .money {
      margin-left: 30px;
    }

    .tableHeader {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 5px 35px;
      font-weight: bold;

      .criteria {
        margin-right: 60px;
      }
    }

    .goldGrade {
      display: flex;
      flex-direction: row;
      border: 2px solid #14505c;
      border-radius: 10px;
      margin: 10px;
      padding: 10px;
      justify-content: space-between;

      img {
        width: 40px;
        height: 40px;
      }

      &:hover {
        background-color: #14505c;
        color: white;
      }
    }

    .silverGrade {
      display: flex;
      flex-direction: row;
      border: 2px solid #14505c;
      border-radius: 10px;
      margin: 10px;
      padding: 10px;
      justify-content: space-between;

      img {
        width: 40px;
        height: 40px;
      }

      &:hover {
        background-color: #14505c;
        color: white;
      }
    }

    .bronzeGrade {
      display: flex;
      flex-direction: row;
      border: 2px solid #14505c;
      border-radius: 10px;
      margin: 10px;
      padding: 10px;
      justify-content: space-between;
      align-items: center;

      img {
        width: 40px;
        height: 40px;
      }

      &:hover {
        background-color: #14505c;
        color: white;
      }
    }
  }

  .currentMoney {
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 10px;
    display: flex;

    .currentMoneyInput {
      width: 200px;
      border: none;
      border-radius: 5px;
      font-size: 20px;
      padding: 2px;
      margin: 0 10px 0 20px;
      text-align: right;

      &:hover {
        background: rgba($color: #14505c, $alpha: 0.2);
      }
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  .bottom {
    padding: 10px 40px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
    display: flex;
    justify-content: space-between;

    .chargeAmount {
      //   display: flex;
      align-items: center;
      padding: 0;
      margin-top: 20px;

      .chargeAmountTitle {
        margin-right: 10px;
      }

      .chargeInput {
        div {
          font-size: 12px;
          margin-bottom: 5px;
        }
        input {
          width: 250px;
          max-width: fit-content;
          border: 2px solid #14505c;
          border-radius: 5px;
          font-size: 20px;
          padding: 2px;
          font-weight: bold;
          padding: 0 10px;

          text-align: right;

          &:hover {
            background: rgba($color: #14505c, $alpha: 0.2);
          }
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
      }

      .upPoint {
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 5px;
      }

      .pointContainer {
        display: flex;

        .plusPoint {
          width: 250px;
          border: 2px solid #14505c;
          border-radius: 5px;
          font-size: 20px;
          padding: 2px;
          text-align: right;
          padding: 0 10px;

          &:hover {
            background: rgba($color: #14505c, $alpha: 0.2);
          }
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }

        .point {
          color: #14505c;
          border: 2px solid #14505c;
          border-radius: 5px;
          width: 200px;
          height: 30px;
          text-align: right;
        }
      }

      .total {
        width: 250px;
        height: 40px;
        text-align: right;
        margin-top: 10px;
        margin-left: 12px;
        max-width: 250px;
        min-width: 250px;
      }
    }
  }
  .explain {
    font-size: 12px;

    color: #14505c;
  }

  .totalAmount {
    .totalAmountTitle {
      text-align: center;
      margin-top: 20px;
    }

    .totalAmountInput {
      margin-top: 20px;
      text-align: right;
      color: #14505c;
    }
  }
  .chargeBtn {
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    background: #14505c;
    color: white;
    border-radius: 10px;
    border: none;
    margin-top: 30px;

    &:hover {
      background: white;
      color: black;
      border: 2px solid #14505c;
    }
  }
}