@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');  
body {     font-family: 'Noto Sans KR', sans-serif; }
.box {
  margin: 10px auto 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65%;
}
