@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.box {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 20px auto;
}
