// MyPageCard.module.scss

.myExchangeHeader{
  font-size: 48px;
  font-weight: bold;
  background: linear-gradient(to right top, #a6d2df, #0a4a58);
  color: transparent;
  -webkit-background-clip: text;  
  margin-left: 600px;
  margin-top: 100px;
}

.noList {
  width: 770px;
  height: 60px;
  line-height: 60px;
  color: #14505c;
  text-align: center;
  margin-left: 50%;
  margin-top: 60px;
  transform: translate(-44%, -50%);
  font-size: 20px;
  font-weight: 700;
  border: 1px solid rgb(20, 80, 92, 0.4);
  border-right: none; 
  border-left: none;
}

.myPageCardContainer {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 500px;
}

.viewMore {
  width: 770px;
  height: 50px;
  text-align: center;
  background: #14505c;
  margin-left: 50%;
  margin-top: 30px;
  transform: translate(-44%, -50%);
}

.viewMore:hover {
  color: #14505c;
  font-weight: 700;
  background: #fff;
}

@media (max-width: 1280px) {
  .myPageCardContainer {
    
    padding-left: 30px;
  }
}
@media (max-width: 640px) {
 
  .cardActions {
    align-items: baseline;
  }
  .myPageCardContainer {
    font-size: 14px;
    padding-left: 1px;
  }
  .cardContainer {
    
    width: 450px;
 
    h3 {
      // margin: 20px auto;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }
  }
}