.footer {
  color: #fff;
  height: 170px;
  background-color: #14505c;;
  display: flex;
    align-items: center;
  .inner {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .info { 
      font-size: 12px;
      align-items: center;
      margin-top: 20px;
      ul {
        list-style: none;
        display: flex;
        gap: 20px;
        margin: 0;
        padding: 0;
      }
    
      .menu {
        display: flex;
        align-items: center;
      }

      .description {
        margin-top: 10px;
        p:first-child {
          margin-top: 30px;
          margin-bottom: -10px;
        }
      }
    }
    .logo {
      width: 30%;
      h2 {
        text-align: center;
        img {
          width: 100px;
        }
      }
      p {
        font-size: 12px;
        flex-grow: 2;
        text-align: center;
      }
    }
    .email {
      p {
        font-size: 15px;
        font-size: bold;
      }
    }
    
  }
}

@media (max-width: 1280px) {
  .container{
    margin: 0 30px;
  }
  .footer{
    .inner{
      justify-content: space-around;
      margin: 0;
      width: 100%;
      // font-size: 10px;
    }
    .logo{
      p{
        // font-size: 10px;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    color: #fff;
    height: 100px;
    background-color: #14505c;;
    .inner {
      .info, .email { 
        display: none;
      }
      .logo {
        width: 100%;
        h2 {
          text-align: center;
          img {
            width: 100px;
          }
        }
        p {
          font-size: 12px;
          flex-grow: 2;
          text-align: center;
        }
      }      
    }
  }
}
 
  
  
