.container {
  width: 60%;
  height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  img {
  width: 100px;
  object-fit: contain;
  filter: grayscale(100%);
  opacity: 0.7;
  }
}



.footer {
  color: #fff;
  height: 170px;
  background-color: #14505c;;
  display: flex;
    align-items: center;
  .inner {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .info { 
      font-size: 12px;
      align-items: center;
      margin-top: 20px;
      ul {
        list-style: none;
        display: flex;
        gap: 20px;
        margin: 0;
        padding: 0;
      }
    
      .menu {
        display: flex;
        align-items: center;
      }

      .description {
        margin-top: 10px;
        // background-color: aqua;
        p:first-child {
          margin-top: 30px;
          margin-bottom: -10px;
        }
      }
    }
    .logo {
      width: 30%;
      h2 {
        
        text-align: center;
        img {
          width: 100px;
        }
      }
      p {
    
        font-size: 12px;
        flex-grow: 2;
        text-align: center;
      }
    }
    .email {
      p.mail {
        font-size: 15px;
        font-size: bold;
      }
    }
    
  }
}
