.GoogleTopContainer{
  margin-top: 100px;
  margin-bottom: 100px;
}

.mainH3{
  font-family: "Black Han Sans";
  font-size: 50px;
  color: #14505C;
  margin-left: 400px;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
*,
*::before,
*::after {
  box-sizing: border-box;
}

.sectionFluidMain {
  position: relative;
  display: block;
  overflow: hidden;
  width: calc(100% - 40px);
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  padding: 100px 0;
}

.sectionRow {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.sectionRow:hover .sectionCol {
  opacity: 0.1;
}

.sectionCol {
  position: relative;
  width: 100%;
  flex: 0 0 50%;
  max-width: 50%;
  transition: opacity 250ms linear;
}

.sectionRow .sectionCol:hover {
  opacity: 1;
}

.section {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  padding: 15px;
}

.sectionIn {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer;
}

.sectionIn img {
  display: block;
  width: 100%;
  height: 300px;
  transition: transform 250ms linear;
}

.sectionCol:hover .sectionIn img {
  transform: scale(1.1) rotate(-3deg);
}

.hoverText {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  pointer-events: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  mix-blend-mode: difference;
}

.hoverText h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 8vw;
  line-height: 1;
  color: #fff;
  opacity: 0;
  transform: scale(0.8);
  transition: transform 150ms linear, opacity 150ms ease;
}

.sectionCol:hover .hoverText h2 {
  opacity: 1;
  transform: scale(1);
}



@media (max-width: 767px) {
  .sectionCol{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .hoverText h2{
    font-size: 12vw;
  }
}

@media (max-width: 640px) {
  .mainH3{
    margin-left: 30px;
  }
}