.header {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #14505c;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 1000;

  &.scrolled {
    background-color: #14505c; /* 스크롤 시 배경 색상 변경 */
  }

  .logo {
    width: 250px;
    height: auto;
    padding-left: 150px;
  }

  .nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }

  .nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding-right: 105px;
  }

  .menu {
    margin-right: 100px;
    display: flex;
    align-items: center;
  }

  .nav a:hover {
    text-decoration: underline;
  }

  .countrySelect {
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    color: black;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .countrySelect:focus {
    outline: none;
    border-color: #14505c;
  }

  .flag {
    width: 25px;
    height: auto;
    margin-right: 10px;
    text-align: center;
  }
}

// src/scss/Header.scss
.countrySelect {
  width: 200px;
  .reactSelect__control {
    border: none;
    box-shadow: none;
    // background-color: #14505c;
  }
  .reactSelect__option {
    display: flex;
    align-items: center;
    cursor: pointer;
    // background-color: #14505c;
  }
  .reactSelect__option img.flag {
    margin-right: 8px;
    width: 24px; // 원하는 크기로 조정
    height: auto;
  }
  .reactSelect__single-value {
    display: flex;
    align-items: center;
  }
  .reactSelect__single-value img.flag {
    margin-right: 8px;
    width: 24px; // 원하는 크기로 조정
    height: auto;
  }
}
.fake {
  height: 80px;
}
