* {
  box-sizing: border-box;
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');  
body { 
      font-family: 'Noto Sans KR', sans-serif; }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.login {
  white-space: pre-wrap;
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // font-family: 'Montserrat', sans-serif;
  height: 130vh;
  margin: -20px 0 50px;
  background-image: url('../assets/img/loginbg.jpg');
  background-size: cover;
  z-index: -1;
}

.login .toplogo {
  background-image: url('../assets/img/logo_white.png');
  z-index: 1;
  font-size: 52px;
  font-weight: bold;
  // margin-top: 50px;
  margin-bottom: 50px;
  color: white;
  animation: fadeIn 0.8s ease-in forwards;
  
}

.login h1 {
  font-weight: bold;
  margin: 0;
}

.login h2 {
  text-align: center;
}

.login p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.login span {
  font-size: 12px;
}

.login a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.login button {
  border-radius: 20px;
  border: 1px solid rgb(48, 43, 43);
  background-color: rgb(48, 43, 43);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin: 15px;
}

.login button:active {
  transform: scale(0.95);
}

.login button:focus {
  outline: none;
}

.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.login form {
  width: 95%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 99%;
  text-align: center;
  margin: 10px 0 10px 0;
}

.login input {
  // background-color: #eee;
  // border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  // height: 25px;
}



input::placeholder {
  font-size: 16px; /* 원하는 크기로 조절하세요 */
  color: gray; /* 색상도 변경할 수 있습니다 */
}



.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 1000px;
  max-width: 100%;
  min-height: 800px;
  animation: fadeIn 0.8s ease-in forwards;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #355358;
  background: -webkit-linear-gradient(
    to right,
    #355358,
    #3d6e6e,
    #498586,
    #56a89f,
    #4ea798,
    #14505C,
    #14505C,
  
  );
  background: linear-gradient(
    to right,
    #355358,
    #3d6e6e,
    #498586,
    #4a8d85,
    #4f978f,
    #3d6e6e,
    #14505C,
   
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
  display: flex;
}

.social-container a img {
  width: 100%;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
}

.login .backButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #333;
  z-index: 10; /* 다른 요소들보다 위에 표시되도록 설정 */
  width: 40px; /* 버튼의 너비 */
  height: 40px; /* 버튼의 높이 */
  display: flex; /* 내부 아이콘을 중앙에 정렬하기 위해 */
  justify-content: center; /* 내부 아이콘을 중앙에 정렬하기 위해 */
  align-items: center; /* 내부 아이콘을 중앙에 정렬하기 위해 */
  border-radius: 10%; /* 버튼을 동그랗게 만드는 속성 */
  transition: background-color 0.3s ease; /* 배경색 변화에 애니메이션 적용 */
}
.backButton:hover {
  background-color: rgba(
    0,
    0,
    0,
    0.1
  ); /* 마우스 호버 시 배경색 변경 */
}

.login .CheckButton {
  margin-top: 6px;
  width: 45%;
  flex-direction: column;
  text-align: center;
  opacity: 0.5;
}
