// MyPageCard.module.scss


.myPageCardContainer {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 50px;
  padding-left: 500px;
}

.currentDate {
  margin: 20px auto 5px;
  font-size: 16px;
  font-weight: bold;
  color: #14505C;
}

.cardContainer {
  display: flex;
  background-color: rgb(235, 235, 235);
  width: 800px;
  border-radius: 20px;
  box-shadow: 1px 8px 16px rgba(0, 0, 0, 0.1);
}

.cardActions {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-weight: bold;

  .etpLogo {
    margin-top: 25px;
    margin-left: 30px;
    
    img {
      // margin-top: 15px;
      width: 150px;
      margin-left: 10px;
    }
 
    p {
      font-size: 14px;
      color: rgb(129, 129, 129);
      margin-top: 10px;
      text-align: center;
    }
  
    h3 {
      margin-top: 20px;
      text-align: center;
      font-weight: bold;
      font-size: 20px;
    }
  }

  .flag {
    width: 150px;
    // height: 100px;
    margin-top: 25px;
  
    h3 {
      text-align: center;
      margin: 20px auto;
      font-weight: bold;
      font-size: 20px;
    }    
  }
}

@media (max-width: 1280px) {
  .myPageCardContainer {
    padding-left: 30px;
  }
}
@media (max-width: 640px) {
 
  .cardActions {
    align-items: baseline;
  }
  .myPageCardContainer {
    font-size: 14px;
    padding-left: 1px;
  }
  .cardContainer {
    
    width: 450px;
 
    h3 {
      // margin: 20px auto;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }
  }
}