.shoppingHeader {
  width: 100%;
  height: 800px;
  margin: 0 0 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  background: #14505c;
  background-image: url(../assets/img/underwater.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 80px;

  .topFive {
    width: 50%;
    font-size: 40px;

    color: white;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 50px;
    font-family: Black Han Sans;
  }

  .headerBox {
    width: 50%;
    height: 90%;
    box-shadow: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border-radius: 15px;
    background: white;
    overflow: hidden;
    border: 10px solid white;
    font-family: Black Han Sans;

    .swiperBox {
      width: 100%;
      height: 100%;

      .swiperSlide {
        position: relative;
        width: 100%;
        height: 100%;

        .slideContent {
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            transition: transform 0.5s ease-in-out;

            &:hover {
              transform: scale(1.05);
            }
          }
          .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 20px 50px;
            box-sizing: border-box;
            color: #fff;

            h3 {
              margin: 0;
              font-size: 2rem;
              line-height: 1.2;
              transition: transform 0.5s ease;

              &:hover {
                transform: scale(1.05);
              }
            }
          }
        }
      }
    }

    button {
      border: none;
      background: none;
      font-size: 25px;
      color: #14505c;
    }
  }
}

.naverShoppingBox {
  width: 70%;
  height: 100%;
  padding: 30px;
  margin-left: 15%;

  .listUl {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    // justify-content: center;

    li {
      margin-bottom: 50px;
      justify-content: center;
      transition: transform 0.1s ease;

      &:hover {
        // background-color: rgba(0, 0, 0, 0.1);
        transform: scale(1.05);
      }

      .itemTitleContainer {
        display: flex;
        align-items: center;
        margin: 0 10px;
        border-radius: 10px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
        overflow: hidden;

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
          transform: scale(1.05);
        }

        a {
          color: black;
          text-decoration: none;

          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
          }

          .itemTitle {
            display: flex;
            flex-direction: column;
            margin: 10px 0;
            padding: 10px;

            div {
              width: 100%;
              height: 50px;
              overflow: hidden;
            }

            h3 {
              font-size: 20px;
            }

            p {
              color: #14505c;
              text-align: right;
              font-size: 20px;
              margin-bottom: 0;
              margin-top: 20px;
            }
          }
        }
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    list-style: none;

    li {
      display: inline-block;
      margin: 0 5px;

      a {
        text-decoration: none;
        padding: 8px 12px;
        border: none;
        border-radius: 10px;
        transition: background-color 0.3s;
      }
    }
  }
}

@media (max-width: 640px) {
  .shoppingHeader {
    .headerBox {
      width: 100%;
      height: 70%;

      .swiperBox {
        .slideContent {
          .overlay {
            h3 {
              font-size: 1rem;
            }
          }
        }
      }
    }

    .topFive {
      font-size: 28px;
    }
  }

  .naverShoppingBox {
    width: 90%;
    margin-left: 5%;
    // font-size: 8px;

    .listUl {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
      // font-size: 8px;
    }
  }
}
