.section1Body {
  background-image: url(../assets/img/home1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 12%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .section1Title {
    color: #fff;
    font-size: 100px;
    margin-bottom: 15px;
    animation: fadeIn 1.6s ease-in forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }

  .section1Small {
    color: #fff;
    font-size: 20px;
    animation: fadeIn 2.4s ease-in forwards;
    margin-bottom: 40px;
    letter-spacing: 2px;
    line-height: 2;
  }

  .section1Explore {
    width: 160px;
    height: 70px;
    background-color: #14505c;
    color: #fff;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    animation: fadeIn 3.2s ease-in forwards;
    transition:
      background-color 0.3s,
      color 0.3s,
      transform 0.3s;

    &:hover {
      background-color: #fafeff;
      color: black;
    }
  }

  .section1SideRectangle {
    width: 400px;
    background: #14505c;
    color: #fff;
    padding: 2% 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    align-self: flex-end;
    animation: fadeIn 4s ease-in forwards;

    .section1More {
      background: none;
      text-align: left;
      color: white;
      border: none;

      &:hover {
        color: #fff;
      }
    }

    img {
      width: 200px;
      height: 130px;
    }
  }
}

@media (max-width: 640px) {
  .section1Body {
    .section1Title {
      color: #fff;
      font-size: 60px;
      margin-top: 40px;
      animation: fadeIn 1.6s ease-in forwards;
    }
    .section1Small {
      margin: 15px;
      color: #fff;
      font-size: 15px;
      animation: fadeIn 2.4s ease-in forwards;
      margin-bottom: 40px;
    }
    .section1Explore {
      width: 120px;
      height: 50px;
      margin: 10px;
    }

    .section1SideRectangle {
      width: 90%;
      margin: 30px;
      font-size: 15px;
      border-radius: 20px;
    }
  }
}
