@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
.section2 {
  font-size: 14px;
  color: #000;
  margin: 200px 0;
  width: 100%;
}
.section2Wrapper {
  width: 80%;
  margin: 50px auto;
  border-radius: 20px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.section2Container {
  width: 100%;
}
.section2Box {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.titleBox {
  width: 50%;
  color: #275963;
  padding: 70px 0;
  h1 {
    font-family: 'Black Han Sans';
    font-size: 50px;
  }
  span {
    font-family: 'Noto sans KR';
    font-size: 20px;
  }
}
.countryCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  width: 200px;
  height: 200px;
  margin-bottom: 260px;
}
.titleBt {
  margin-top: 30px;
}

.flag {
  width: 100px;
  height: auto;
}

.downRate {
  width: 340px;
  border-radius: 10px;
  box-shadow: 20px 10px lightgray;
  border: 1px solid lightgray;
}
.rateContent {
  width: 50%;
  display: flex;
  align-items: center;
}
.upRate {
  width: 340px;
  border-radius: 10px;
  box-shadow: 20px 10px lightgray;
  border: 1px solid lightgray;
  margin-left: 30px;
}

.section2Box2 {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchTableBox {
  width: 50%;
  background-color: #275963;
  height: 100%;
}
.searchTextBox {
  width: 50%;
  background-color: blueviolet;
  height: 100%;
}

@media (max-width: 1280px) {
  .section2Wrapper {
    width: 100%;
  }
  .titleBox {
    width: 50%;
    color: #275963;
    padding: 70px 70px;
    h1 {
      font-family: 'Black Han Sans';
      font-size: 38px;
    }
    span {
      font-family: 'Noto sans KR';
      font-size: 18px;
    }
  }
  .section2Container {
    width: 100%;
  }
  .section2Box {
    width: 100%;
    margin: auto -50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }
}

@media (max-width: 640px) {
  .section2Wrapper {
    width: 100%;
  }

  .titleBox {
    flex-direction: column;
    width: 100%;
    color: #275963;
    padding: 70px 70px;
    h1 {
      font-family: 'Black Han Sans';
      font-size: 38px;
    }
    span {
      font-family: 'Noto sans KR';
      font-size: 15px;
    }
  }

  .section2Box {
    flex-direction: column; /* 수정된 부분: 플렉스 방향을 열로 변경 */
    width: 1200px;
  }

  .countryCard {
    width: 90%; /* 카드의 너비를 늘림 */
  }
  .rateContent {
    flex-direction: column;
  }
  .upRate {
    margin-top: 30px;
    margin-right: 30px;
  }
}
