.swiper-slide {
  /* .swiper-slide {
>>>>>>> f2031164733804e7955b0b5eead3463255b6c509
  width: 300px !important;
  height: 160px;
  margin-top: 7px;
  transition: transform 0.6s ease-in-out !important;
}
.swiper-wrapper {
  transition-timing-function: linear !important;

}

} */
}
