.pageBox{
  display: flex;
  align-items: center;
  
  width: 330px;
  height: 70px;
  background-color: rgb(255, 255, 255);
  // box-shadow: 0 0px 3px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.22);
  border-radius: 20px;
  margin: 10px;
  margin-top: 10px;
  margin-left: 35px;
  // padding-top: 5px;
  padding-left: 55px;
}



  .point {
    color: #3f3f3f;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    img {
      width: 50px;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
      margin-right: 20px;
    }
  }


  


@media (max-width: 1280px) {
  .pageBox{
    padding-left: 30px;
  }
}