.youtubeContainer {
  align-items: center;
  // background-color: #ff0000;

  .youtube1 {
    padding-left: 10px;
  }
  .youtube2 {
    padding-left: 10px;
  }
  .youtube3 {
    padding-left: 10px;
  }
  iframe {
    margin-left: 100px;
  }
}

